<!DOCTYPE html>
<html>
<head>
    <title>News Application - @ViewData["Title"]</title>
    <link href="/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <h1 class="bg-primary text-white text-center" >News Application </h1>
    <h2 class="bg-success text-white text-center">*** Bald auch mit Datenbank ***</h2>
    <div class="row">
        <div class="col-md-8 offset-md-2">
            @RenderBody()
        </div>
       
    </div>
</body>
</html>
